body {
  color: black;
  font-family: Helvetica, san-serif;
  font-size: 15px;
}

table {
    border: 2px dotted grey;
    border-collapse: collapse;
    color: grey;
    box-shadow: 5px 5px black;
  }
  
  td, th {
    border: 2px dotted grey;
    padding: 5px;
    padding-right: 15px;
  }

  #lookupWeapon {
    background-color: rgb(82, 186, 179);
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255);
    margin: 5px auto;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2); 
  }

  #rollDeed, #resetButton {
    background-color: rgb(82, 186, 179);
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    text-transform: uppercase;
    width: auto;
    cursor: pointer;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2); 
  }

  #inputWeaponDMG, #inputWeaponDMGMod, #inputDeedDie, #inputDeedDieMod {
    padding: 5px;
    border: 1px solid gray;
    margin: 5px auto;
    width: 150px;
    border-radius: 10px;
    background-color: #f8f8f8; 
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2); 
  }

  #description {
      height: auto;
      width: 700px;
      padding: 5px;
      border: 2px solid gray;
      border-radius: 10px;  
      font-size:15px;
      box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2); 
  }

  #Credits {
    font-size: 12px;    
    font-style: italic;
    }